body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 25.2px;
  display: block;
}

header {
  background: url("../images/glasses-bg.png") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

ul {
  margin-right: 1rem;
  list-style: none;
  display: flex;
}
ul li {
  padding-right: : 18px;
  padding-left: 18px;

}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: auto;
}

.main-banner {
  background-color: white;
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2rem;
    line-height: 2.4rem;
    padding: 0.75rem 5rem;
}
