body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 25.2px;
  display: block;
}

header {
  background: url("../images/glasses-bg.png") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

ul {
  margin-right: 1rem;
  list-style: none;
  display: flex;
}
ul li {
  padding-right: : 18px;
  padding-left: 18px;

}

header .flex {
  justify-content: flex-end;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: auto;
}

.main-banner {
  background-color: white;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 1.2;
  padding: 0.75rem 5rem;
  font-size: 2rem;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 5rem;
    height: 8rem;
    margin: 3rem;
}
.supporting {
    display: flex;
    justify-content: center;
}

.service img {
    width: 5rem;
    margin-bottom: 1rem;
}

.service img.paper-icon {
    width: 3.5rem;
}

img {
  border-style: none;
}

.info {
    width: 35%;
    margin-right: 5%;
    margin-bottom: 4rem;
}

.title {
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    font-weight: bold;
    color: white;
    max-width: 10rem;
}

.info p {
    padding: 1rem 0;
}

footer {
    background-color: azure;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px){}
nav.container {
    max-width: 100%;
}
}

@media only screen and (max-width: 1024px){
header {
    padding-top: 0px;
    height: 22rem;
    width: 100%;

}
}

@media only screen and (max-width: 1024px)
{
.main-banner {
  background-color: white;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
  padding: 0.75rem 4rem;
  font-size: 1.33rem;
}
}

@media only screen and (max-width: 1024px){
footer {
    width: 100%;
}
}

@media only screen and (max-width: 560px){
.main-banner {
    width: 100%;
    text-align: center;
    padding: 0px 1rem;
    margin: 9rem auto 0px;
  }
}

@media only screen and (max-width: 560px){
.h1 {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 1024px){
header {
    padding-top: 0px;
    height: 22rem;
    width: 100%;
    background-position: 20%;

}
}

@media only screen and (max-width: 560px){
header {
    padding-top: 0px;
    height: 22rem;
    width: 100%;
    background-position: 20% center;

}

@media only screen and (max-width: 560px){
li {
    display: none
}
}

@media only screen and (max-width: 560px){
.mobile-nav {
  list-style: none;
  display: flex;
}
}

@media only screen and (max-width: 560px){
.supporting {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
}
}

@media only screen and (max-width: 560px){
.service {
    height: auto;
    font-size: 0.77rem;
    margin: 0.77rem;
}
}

@media only screen and (max-width: 560px){
footer {
    justify-content: center;
}
}
@media only screen and (max-width: 560px){
footer div {
    display: none;
}
}
